<div class="d-flex flex-column align-items-center bg-secondary-subtle gap-4">
    <div class="filters-section w-75 h-50 bg-white rounded p-4 mt-3">
        <div>
            <input type="text">
        </div>
    </div>
    <div *ngIf="allJobs" class="py-4 px-5 w-75 bg-white rounded">
        <!-- <h1 class="text-center">Open Positions</h1> -->
        <div *ngFor="let job of allJobs" 
            class="container py-3 job-list-item" 
            style="cursor: pointer; height: 70px;">
            <div class="d-flex align-items-center gap-2">
                <div><i class="ph ph-building-office fs-1 text-secondary"></i></div>
                <div class="">
                    <h4 class="h5 mb-0">{{ job.title }}</h4>
                    <span>at LinkedIn</span>
                </div>
                <!-- <i class="ph ph-building-office"></i>
                <div class="col-6">
                    <h4 class="h5 mb-0">{{ job.title }}</h4>
                </div>
                <div class="col">
                    <span *ngIf="job.experience">{{job.experience}} yrs</span>
                    <span *ngIf="!job.experience">Not Available</span>
                </div>
                <div class="col">
                    <span>{{ getJobType(job.jobType) }}</span>
                </div>
                <div class="col">
                    <span>Hyderabad</span>
                </div> -->
            </div>
        </div>
    </div>
</div>