<div class="d-flex h-100">
    <div class="w-400 gradient-box"></div>
    <div class="bg-white d-flex align-items-center justify-content-center h-100 flex-grow-1">
        <div>
            <h3 class="text-center mb-3">Register</h3>
            <div class="no-gutters row w-600 mb-20" [formGroup]="registerForm">
                <div class="col-6 pr-16">
                    <label for="firstName" class="form-label">First Name</label>
                    <input type="text" id="firstName" class="form-control" formControlName="firstName"
                        placeholder="Enter your first name">
                    <validation-messages [validationMessages]="validationMessages.firstName"
                        [formController]="registerForm.get('firstName')" [isFormSubmitted]="isFormSubmitted">
                    </validation-messages>
                </div>

                <div class="col-6 pr-16">
                    <label for="lastName" class="form-label">Last Name</label>
                    <input type="email" id="lastName" class="form-control" formControlName="lastName"
                        placeholder="Enter your last name">
                    <validation-messages [validationMessages]="validationMessages.lastName"
                        [formController]="registerForm.get('lastName')" [isFormSubmitted]="isFormSubmitted">
                    </validation-messages>
                </div>

                <div class="col-6 pr-16">
                    <label for="phone" class="form-label">Phone Number</label>
                    <input type="number" id="phone" class="form-control" formControlName="phone"
                        placeholder="Enter your phone number">
                    <validation-messages [validationMessages]="validationMessages.phone"
                        [formController]="registerForm.get('phone')" [isFormSubmitted]="isFormSubmitted">
                    </validation-messages>
                </div>

                <div class="col-6 pr-16">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" id="email" class="form-control" formControlName="email"
                        placeholder="Enter your email">
                    <validation-messages [validationMessages]="validationMessages.email"
                        [formController]="registerForm.get('email')" [isFormSubmitted]="isFormSubmitted">
                    </validation-messages>
                </div>

                <div class="col-6 pr-16">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" id="password" class="form-control" formControlName="password"
                        placeholder="Enter your password">
                    <validation-messages [validationMessages]="validationMessages.password"
                        [formController]="registerForm.get('password')" [isFormSubmitted]="isFormSubmitted">
                    </validation-messages>
                </div>

                <div class="col-6 pr-16">
                    <label for="confirmPassword" class="form-label">Confirm Password</label>
                    <input type="password" id="confirmPassword" class="form-control" formControlName="confirmPassword"
                        placeholder="Enter your confirm password">
                    <validation-messages [validationMessages]="validationMessages.confirmPassword"
                        [formController]="registerForm.get('confirmPassword')" [isFormSubmitted]="isFormSubmitted">
                    </validation-messages>
                </div>
            </div>
            <button type="submit" class="btn btn-primary w-100" [disabled]="registerForm.invalid || isInProgress" (click)="register()">Register</button>
            <p class="py-1">Already have an account? Sign in <a routerLink="../login" class="text-link">here</a>.</p>
            <p class="m-0 fw-bold fs-5 text-center" style="color: #5746AF;">Find. Prepare. Get Hired. — AI at Every Step.</p>
            <p class="m-0 fst-italic fs-5 text-center">Endless Opportunities & Mentorship. Ready to explore 10,000+ Jobs?</p>
        </div>
    </div>
</div>