<div *ngIf="job">
    <div class="header">
        <div style="width: 1024px;">
            <div (click)="goBack()" class="back-link" style="cursor: pointer;"><i class="ph ph-arrow-left"></i> Go Back</div>
            <div class="job-header d-flex justify-content-between w-">
                <div>
                    <div class="d-flex align-items-center gap-1"><img src={{job.companylogo}} width="25px">{{job.companyName}}</div>
                    <div class="job-title">{{ job.title }}</div>
                </div>
                <div>
                    <div *ngIf="user?.isProfileUpdated">
                        <div *ngIf="!jobApplication" class="rounded d-flex justify-content-center align-items-center" style="width: 100px; height: 36px; background: #5746af; color: white; cursor: pointer;" (click)="applyJob()">Apply Job</div>
                        <div *ngIf="jobApplication" class="border border-success rounded d-flex justify-content-center align-items-center" style="width: 100px; height: 36px; border: 1px; color: #198754;">Applied</div>
                    </div>
                    <div  *ngIf="!user?.isProfileUpdated">
                        <a  href="#/home/profile" class="rounded d-flex justify-content-center align-items-center" style="width: 120px; height: 36px; border: 1px solid #5746AF; color: #5746AF; text-decoration: none; cursor: pointer;">Complete Profile</a>
                    </div>
                </div>
            </div>

            <div class="job-meta">
                <span *ngIf="job.experience"><i class="ph ph-user"></i> {{ job.experience }}</span>
                <span *ngIf="job.jobLocations.length"><i class="ph ph-map-pin"></i> {{ getJobLocation() }}</span>
                <span *ngIf="job.jobType"><i class="ph ph-suitcase"></i> {{ getJobType(job.jobType) }}</span>
                <span *ngIf="job.salaryRangeFormat"><i class="ph ph-money"></i> {{ job.salaryRangeFormat }}</span>
            </div>
        </div>
    </div>
    <div class="container pb-4">
        <div class="container-body">
            <div *ngIf="jobApplication" class="application-status">
                <div class="status-timeline">
                    <div *ngFor="let stage of applicationStatus" class="stage" [class.completed]="getStageCompletion(stage)">
                        <div class="stage-dot">
                            <div class="stage-dot-filled"></div>
                        </div>
                        <div class="stage-name">{{ getStageName(stage) }}</div>
                        <div class="stage-date">
                            <div *ngIf="getStageCompletion(stage)">{{ getStageCompletionDate(stage) }}</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-2">
                <div class="job-description h-100">
                    <div id="jobdecription" style="width: 550px; height: 300px;" class="overflow-hidden">
                        <div class="job-description-content">
                            <h3>Job description</h3>
                            <p class="summary" [innerHtml]="job.description">
                            </p>
                        </div>
                    </div>
                    <button *ngIf="!isReadMore" class="read-more cursor-pointer" style="cursor: pointer;"
                        (click)="openReadMoreDescription()">Read more</button>
                    <button *ngIf="isReadMore" class="read-more cursor-pointer" style="cursor: pointer;"
                        (click)="openReadLessDescription()">Read less</button>
                    <div class="working-hours">
                        <div class="question">
                            <img src="..\assets\wand.svg">
                            <span>{{questions[currentQuestionInd]}}</span>
                        </div>
                        <button class="ai-button" (click)="OpenAIChatbot()">Find out with Keka AI</button>
                    </div>
                </div>
                <div class="interviews-section rounded">
                    <div *ngIf="jobApplication?.applicationStatus === null || jobApplication?.applicationStatus !== 0" style="display: flex; flex-direction: column; align-items: center; color: #666;">
                        <img width="80px" src="..\assets\empty-box.svg">
                        <p>No interviews scheduled yet</p>
                    </div>
                    <h5 *ngIf="jobApplication?.applicationStatus === 0" class="mb-3">Upcoming Interviews</h5>
                    <div *ngIf="jobApplication?.applicationStatus === 0" class="interviews-list gap-3 d-flex flex-column">
                        <div class="interview-card border p-3 rounded">
                            <div>
                                <div class="">{{ job.departmentName }}</div>
                                <p class="interview-text">{{ job.companyName }}</p>
                                <p class="interview-text">AI Interview Screening</p>
                            </div>
                            <button (click)="openScreeningWindow()" class="join-button border rounded w-25 h-100">Join</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mentorship-section">
                <div class="section-header">
                    <h3>Get free mentorship</h3>
                    <span class="new-tag">New</span>
                    <!-- <a href="#" class="view-all">View all</a> -->
                </div>

                <div class="mentors-grid">
                    <div class="mentor-card" *ngFor="let mentor of mentors">
                        <img [src]="mentor.image" [alt]="mentor.name" class="mentor-image">
                        <div class="mentor-info">
                            <h4>{{ mentor.name }}</h4>
                            <p>{{ mentor.role }}</p>
                            <p class="experience">{{ mentor.experience }}</p>
                            <div class="rating">
                                <span *ngFor="let star of mentor.rating">
                                    ⭐
                                </span>
                            </div>
                            <button class="session-button">Book a free session</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>