<div>
    <div class="header">
        <div style="width: 1024px;">
            <a href="#/home/my-applications" class="back-link">← View all applications</a>
            <div class="job-header">
                <div>{{job.CompanyName}}</div>
                <div class="job-title">{{ job.title }}</div>
            </div>

            <div class="job-meta">
                <span *ngIf="job.experience"><i class="ph ph-user"></i> {{ job.experience }}</span>
                <span *ngIf="job.jobLocations.length"><i class="ph ph-map-pin"></i> {{ getJobLocation() }}</span>
                <span *ngIf="job.jobType"><i class="ph ph-suitcase"></i> {{ getJobType(job.jobType) }}</span>
                <span *ngIf="job.salaryRangeFormat"><i class="ph ph-money"></i> {{ job.salaryRangeFormat }}</span>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="container-body">
            <div class="application-status">
                <div class="status-timeline">
                    <div *ngFor="let stage of stages" class="stage" [class.completed]="stage.completed">
                        <div class="stage-dot">
                            <div class="stage-dot-filled"></div>
                        </div>
                        <div class="stage-name">{{ stage.name }}</div>
                        <div class="stage-date">
                            <div *ngIf="stage.completed">{{ applicationDate }}</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-2">
                <div class="job-description h-100">
                    <div id="jobdecription" style="width: 550px; height: 300px;" class="overflow-hidden">
                        <div class="job-description-content">
                            <h3>Job description</h3>
                            <p class="summary" [innerHtml]="job.description">
                            </p>
                        </div>
                    </div>
                    <button *ngIf="!isReadMore" class="read-more cursor-pointer" style="cursor: pointer;" (click)="openReadMoreDescription()">Read more</button>
                    <button *ngIf="isReadMore" class="read-more cursor-pointer" style="cursor: pointer;" (click)="openReadLessDescription()">Read less</button>
                    <div class="working-hours">
                        <div class="question">
                            <img src="..\assets\wand.svg">
                            <span>What are the working hours?</span>
                        </div>
                        <button class="ai-button" (click)="OpenAIChatbot()">Find out with Keka AI</button>
                    </div>
                </div>
                <div class="interviews-section">
                    <div style="display: flex; flex-direction: column; align-items: center; color: #666;">
                        <img width="80px" src="..\assets\empty-box.svg">
                        <p>No interviews scheduled yet</p>
                    </div>
                </div>
            </div>

            <!-- <div class="mentorship-section">
                <div class="section-header">
                    <h3>Get free mentorship</h3>
                    <span class="new-tag">New</span>
                    <a href="#" class="view-all">View all</a>
                </div>

                <div class="mentors-grid">
                    <div class="mentor-card" *ngFor="let mentor of mentors">
                        <img [src]="mentor.image" [alt]="mentor.name" class="mentor-image">
                        <div class="mentor-info">
                            <h4>{{ mentor.name }}</h4>
                            <p>{{ mentor.role }}</p>
                            <p class="experience">{{ mentor.experience }}</p>
                            <div class="rating">
                                <span *ngFor="let star of [1,2,3,4,5]">
                                    ⭐
                                </span>
                            </div>
                            <button class="session-button">Book a free session</button>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>